<a href="https://colab.research.google.com/github/StePata/testifoa/blob/main/1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#How to run a cell

In [1]:
"This is a coding cell"

'This is a coding cell'

In [2]:
2 + 2

4

In [3]:
3 + 3

6

#Python basics

In [4]:
2 + 2
3 * 3
# Python pubblicherà il risultato solo dell'ultima riga, a meno che non
# facciamo print

9

In [5]:
print(2 + 2)
print(3 * 3)

4
9

In [6]:
# This is a comment

#Markdown basics

| Element        | Markdown Syntax                        |
|----------------|----------------------------------------|
| Heading        | `# H1`<br>`## H2`<br>`### H3`          |
| Bold           | `**bold text**`                        |
| Italic         | `*italicized text*`                    |
| Blockquote     | `> blockquote`                         |
| Ordered List   | `1. First item`<br>`2. Second item`<br>`3. Third item` |
| Unordered List | `- First item`<br>`- Second item`<br>`- Third item`   |
| Code           | `` `code` ``                           |
| Horizontal Rule| `---`                                  |
| Link           | `[title](https://www.example.com)`     |
| Image          | `![alt text](image.jpg)`               |

[Here is a more info on Markdown](https://www.markdownguide.org/basic-syntax/)

This is normal text

# Heading

** Boldd **

1. One
2. Two
3. Three

## Colab Walkthrough

#### Sidebar Menu (Left-Top)
- Table of Contents
- Find and Replace
- Variables
- Secrets
- Files

#### Sidebar Menu (Left-Bottom)
- Code snippets
- Command pallette
- Terminal

#### Top Menu Bar
- Runtime: Controls running cells and restarting notebook

#### Colab Header (Top)
- RAM & Disk Usage
- Colab AI (may or may not have)

In [7]:
!ls

sample_data

In [8]:
%timeit [i**2 for i in range (1000)]

40 µs ± 716 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [10]:
%%timeit
L = []
for n in range(1000):
    L.append(n**2)

45.4 µs ± 1.93 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

#Create a variable

In [12]:
salary = 100000

In [13]:
salary

100000

In [14]:
"salary"

'salary'

# Calculate the following

Total salary = (Base salary * (1 +bonus rate)

In [15]:
base_salary = 100000
bonus_rate = 0.10

In [19]:
total_salary = (base_salary) * (1 + bonus_rate)

In [20]:
total_salary

110000.00000000001

In [21]:
pata_salary = 100000

# Variables aren't only numbers
Notes
We can store all different kinds of data in variables
Note: We'll cover more on types in a bit
## Example
Create variables to store the following information about a job posting:


*   Job ID (integer)
*   Company Name (string)




*   Salary Rate (string, but consider how you might store this as a numerical type for calculations)
*   Job Work From Home (boolean)

In [23]:
company_name = 'DataWiz Inc.'

In [24]:
company_name

'DataWiz Inc.'

In [25]:
job_wfh = True

In [26]:
job_wfh

True

In [27]:
job_id = 101
job_title = 'Data Analysis'
job_salary = 125000

In [29]:
# This won't print out the variable name.
print("Job ID:      ", job_id)
print("Company Name:", company_name)
print("Job Title:   ", job_title)
print("Salary:      ", job_salary)
print("WFH:         ", job_wfh)

Job ID:       101
Company Name: DataWiz Inc.
Job Title:    Data Analysis
Salary:       125000
WFH:          True

# Objects: Data records
## Object: A data record with fields, an istance of a class

In [30]:
salary

100000

In [31]:
100000

100000

In [32]:
print(salary)

100000

In [33]:
type(10000)

int

In [34]:
"Data analyst"

'Data analyst'

In [35]:
type("Data analyst")

str

In [36]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if all characters in the string are printable, False otherwise.
 |
 |      A character is printable if repr() may use it in its output.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

# Variables: The Reference to Objects
##Think of a variable as a cell in an Excel spreadsheet. You can store data in it, like a number, text, or a formula.

Variable: A defined name that references an object.

In [52]:
job_title = "Data analyst"
job_location = "United States"
job_salary = 90000

In [38]:
id(job_title)

136420287412144

In [39]:
job_1 = "Data analyst"
job_2 = "Data analyst"

In [40]:
id (job_1), id(job_2)

(136420285369840, 136420285372400)

In [41]:
print("What's up, Data nerds")

What's up, Data nerds

# Functions: The Manipulators of Objects
Functions are like custom formulas in Excel. They perform tasks that can be applied to different sets of data.

Function: A reusable piece of code that performs a specific task.

In [43]:
def greet():
    return "What's up, Data Nerds!"

In [44]:
greet()

"What's up, Data Nerds!"

In [45]:
def display_info(title, location, salary):
    return print(f"JOB:       {title}\nLOCATION:  {location}\nSALARY:    ${salary:,.0f}")

In [53]:
display_info(job_title, job_location,job_salary)

JOB:       Data analyst
LOCATION:  United States
SALARY:    $90,000

#Classes: The Template of Objects
A class is like a template for your records in Excel. It defines the fields that each record will have.

Class: A template for creating objects (records).

In [54]:
type(90000)

int

In [ ]:
help(int)

# Methods: The functions of an Object

In [62]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title  # Attribute
        self.location = location  # Attribute
        self.salary = salary  # Attribute
    def display_info(self):
        return print(f"JOB:       {self.title}\nLOCATION:  {self.location}\nSALARY:    ${self.salary:,.0f}")

In [63]:
job_1 = JobPost(job_title, job_location, job_salary)

In [64]:
job_1.title

'Data analyst'

In [65]:
job_1.display_info()

JOB:       Data analyst
LOCATION:  United States
SALARY:    $90,000

In [66]:
salary = 90000

In [67]:
type(salary)

int

In [ ]:
help(int)

In [69]:
salary.__add__(1)

90001

# Data Types

In [70]:
total_salary = 110000

In [71]:
salary = 10000

In [73]:
type(salary)
# funzione che si utilizza per capire se è int, str, float

int

In [74]:
base_salary = total_salary - salary

In [75]:
base_salary

100000

In [77]:
job_title = 'Data Analyst'
remove_word = 'Data'

In [78]:
type(job_title)

str

In [79]:
final_title = job_title - remove_word

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### Built-in Types

Python has the following data types built-in by default:
| Type               | Data Type           | Example               |
|--------------------|---------------------|-----------------------|
| Text               | `str`               | `"Data Nerd!"`     |
| Numeric            | `int`               | `42`                  |
|                    | `float`             | `3.14159`             |
|                    | `complex`           | `1 + 2j`              |
| Sequence           | `list`              | `[1, 2, 3]`           |
|                    | `tuple`             | `(1, 2, 3)`           |
|                    | `range`             | `range(10)`           |
| Mapping            | `dict`              | `{"key": "value"}`    |
| Set                | `set`               | `{1, 2, 3}`           |
|                    | `frozenset`         | `frozenset([1, 2, 3])`|
| Boolean            | `bool`              | `True` or `False`     |
| Binary             | `bytes`             | `b"Data"`            |
|                    | `bytearray`         | `bytearray(5)`        |
|                    | `memoryview`        | `memoryview(b"Data")`|
| None               | `NoneType`          | `None`                |

For more information on the different data types in Python check out the Python documentation for data types [here](https://docs.python.org/3/library/datatypes.html).

#### Types Common in Data Analytics

We'll mainly focus on the most common ones in data analytics:
* Text Type: `str`
* Numeric Types: `int`, `float`
* Sequence Types:	`list`, `tuples`
* Mapping Type:	`dict`
* Set Types:	`set`

### Importance

Fundamental for data processing. Pandas and matplotlib automatically handle different data types for operations like mathematical calculations, data manipulation, and plotting.

In [ ]:
help(str)

In [83]:
'Data ' + 'Nerd'

'Data Nerd'

In [84]:
' Data Nerd'.capitalize

In [87]:
'Data Nerd'.capitalize()

'Data nerd'

## Set Data Type

### Notes

* Set the specific data type using constructor *functions*.
* First, what is a *function*? We'll be diving into functions a lot more later. But right now understand that it's a block of code designed to do a specific task.
    * It can take input (known as arguments), execute a series of operations, and return an output.
    * We've already used a function several times now called `print()`. It outputs the argument (the string of text you've been typing in) to the console.
        * For example `print('hello world')`. Will print out 'hello world'.
        * `print()` focuses on displaying output.
    * But most functions perform calculations, manipulate data, or return data. As you'll see below.

Below are some common data types:

| Data Type | Syntax                     | Example                           |
|-----------|----------------------------|-----------------------------------|
| String    | `str()`                    | `str('Hello World')`              |
| Integer   | `int()`                    | `int(20)`                         |
| Float     | `float()`                  | `float(20.5)`                     |
| Complex   | `complex()`                | `complex(1j)`                     |
| List      | `list()`                   | `list(('apple', 'banana', 'cherry'))` |
| Tuple     | `tuple()`                  | `tuple(('apple', 'banana', 'cherry'))`|
| Range     | `range()`                  | `range(6)`                        |
| Dictionary| `dict()`                   | `dict(name='John', age=36)`       |
| Set       | `set()`                    | `set(('apple', 'banana', 'cherry'))`  |
| Frozenset | `frozenset()`              | `frozenset(('apple', 'banana', 'cherry'))`|
| Boolean   | `bool()`                   | `bool(5)`                         |
| Bytes     | `bytes()`                  | `bytes(5)`                        |
| Bytearray | `bytearray()`              | `bytearray(5)`                    |
| Memoryview| `memoryview()`             | `memoryview(bytes(5))`            |

### Example

Set the specific data type for each variable. Let's specify a new job posting.

In [88]:
job_title = 'Data analyst'
type(job_title)

str

In [89]:
job_id = 102
type(job_id)

int

In [90]:
job_id=float(102)

In [91]:
type(job_id)

float

In [ ]:
help(float)

# Strings

In [93]:
"This is a string in double quotes"

'This is a string in double quotes'

In [95]:
'This is a string in double quotes'

'This is a string in double quotes'

In [96]:
skill = "Python"

In [97]:
type(skill)

str

In [98]:
skill.upper()

'PYTHON'

In [ ]:
help(str)

In [99]:
"Python".lower()

'python'

In [100]:
str.lower("Python")

'python'

In [101]:
skill = "Python"

In [102]:
skill.lower()

'python'

In [103]:
skill.replace("P" , "J")
# Metodo utilizzato per rimpiazziare un carattere/numero con un altro

'Jython'

In [104]:
job_title = "Data Analyst" #rename Data as Doto

In [107]:
job_title.replace('a' , 'o', 2)

'Doto Analyst'

In [108]:
job_title.split(sep=" ",maxsplit=1)

['Data', 'Analyst']

In [109]:
job_title = job_title.replace('a' , 'o', 2)

In [114]:
job_title.split(sep=" ",maxsplit=1)

['Doto', 'Analyst']

In [115]:
str.__add__("Data", " Analyst")

'Data Analyst'

In [116]:
"Data".__add__(" Analyst")

'Data Analyst'

In [118]:
"Data" + " Analyst"

'Data Analyst'

In [119]:
"Data Analyst" * 10

'Data AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData Analyst'

In [120]:
"Data Analyst".__len__()

12

In [121]:
len("Data Analyst")

12

# Formattazione stringhe

In Python there's a few different options for formatting our output:

| Method          | Syntax                                        | Example (prints "Hello Luke")                                   | Description                                                       |
|-----------------|------------------------------------------------|------------------------------------------------|-------------------------------------------------------------------|
| Concatenation   | `'string' + variable`                          | `'Hello ' + name`                              | Combines strings by directly appending them together.             |
| % Formatting    | `'string %s' % variable`                       | `'Hello %s' % name`                            | Uses % as a placeholder for string substitutions.                 |
| str.format()    | `'string {}'.format(variable)`                 | `'Hello {}'.format(name)`                      | Utilizes curly braces `{}` as placeholders for formatting.        |
| f-strings       | `f'string {variable}'`                         | `f'Hello {name}'`                              | Embeds expressions inside string literals, prefixed with `f`.     |
| join()          | `'separator'.join([string, variable])`         | `', '.join(['Hello', name])`                   | Joins a list of strings into a single string with a separator.    |


For our examples we'll be printing out a `role` and/or `skill`.

## Format method .format()

In [122]:
role = 'Data Analyst'
skill = 'Python'

In [123]:
# Write out 'Role: Data Analyst'

In [125]:
'Role: '+ role

'Role: Data Analyst'

In [126]:
role = 'Data Analyst'
skill = 'Python'

In [127]:
"Role: {}".format(role)

'Role: Data Analyst'

In [128]:
"Role {}; Skill Required {}".format(role, skill)

'Role Data Analyst; Skill Required Python'

il format viene utilizzato per mettere all'interno delle parentesi graffe {} una o più funzioni all'interno dei nostri codici

In [129]:
"Role {role}; Skill Required {skill}".format(role=role, skill=skill)

'Role Data Analyst; Skill Required Python'

## f-strings - Formatted string literals

In [130]:
role = "Data Analyst"
skill = "Python"
f"Role: {role}; Skill Required: {skill}"

'Role: Data Analyst; Skill Required: Python'

In [131]:
# Fstring è più comprensibile da utilizzare rispetto a format

##%-formatting (printf-style string formatting)

In [135]:
"Role: %s, Skill Required: %s" % (role,skill)

'Role: Data Analyst, Skill Required: Python'

##join() Method

In [137]:
years_experience = '0123456789'

In [138]:
', '.join(years_experience)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

In [139]:
skills = ['Python' , 'SQL' , 'Excel']

In [140]:
type(skills)

list

In [141]:
", ".join(skills)

'Python, SQL, Excel'

# Operators

In [142]:
2 + 3.0

5.0

In [144]:
"Come " + "va" + "?"

'Come va?'

In [145]:
"Come " + "va" + "?" * 10

'Come va??????????'

In [147]:
("Come " + "va" + "? ") * 10

'Come va? Come va? Come va? Come va? Come va? Come va? Come va? Come va? Come va? Come va? '

In [148]:
3.0 - 2

1.0

In [150]:
"come va" - "va"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [151]:
four = 4
four.__sub__(2)

2

In [153]:
5 / 2

2.5

In [162]:
5 // 2 # per indicare quanti numeri ci vogliono per dividere 5 per il divisore

2

In [156]:
5 % 2 # per indicare il resto

1

### Arithmetic Operators

Arithmetic operators are used with objects (mainly numeric ones) to perform math operations:

| Operator 	| Name           	| Example 	|
|----------	|----------------	|---------	|
| +        	| Addition       	| x + y   	|
| -        	| Subtraction    	| x - y   	|
| *        	| Multiplication 	| x * y   	|
| /        	| Division       	| x / y   	|
| %        	| Modulus        	| x % y   	|
| **       	| Exponentiation 	| x ** y  	|
| //       	| Floor division 	| x // y  	|

#### Order of Operations

1. **Parentheses**: Anything in parentheses is executed first
2. **Exponents**: Operations involving exponents (including roots, indicated as fractional exponents)  
3. **Multiplication and Division**: Processed from left to right
4. **Addition and Subtraction**: Also processed from left to right

In [164]:
min_salary = 20_000 # _ is ignored by the interpreter
max_salary = 80_000

In [166]:
avg_salary = (min_salary + max_salary) / 2

In [167]:
avg_salary

50000.0

### Assignment Operators

Assignment operators are used to assign values to variables.

| Operator | Name                | Example |
|----------|---------------------|---------|
| =        | Assign              | x = y   |
| +=       | Add and assign      | x += y  |
| -=       | Subtract and assign | x -= y  |
| *=       | Multiply and assign | x *= y  |
| /=       | Divide and assign   | x /= y  |
| %=       | Modulus and assign  | x %= y  |
| **=      | Exponent and assign | x **= y |
| //=      | Floor divide and assign | x //= y  |

In [168]:
cliente_1 = "Kelly"
cliente_2 = "Luca"

In [169]:
temp_var = cliente_1

In [170]:
cliente_1 = cliente_2
cliente_2 = temp_var

In [171]:
cliente_1,cliente_2

('Luca', 'Kelly')

In [172]:
cliente_1, cliente_2 = cliente_2, cliente_1

In [173]:
cliente_1 , cliente_2

('Kelly', 'Luca')

In [174]:
x = 1

In [175]:
x = x + 1

In [176]:
x

2

In [178]:
x = 1
x += 1 # è uguale a x = x + 1

In [179]:
x

2

In [183]:
x = 2

In [184]:
x *= 2

In [185]:
x

4

### Comparison Operators

Comparison operators compare two values and determine the relation between them.

| Operator | Name                  | Example |
|----------|-----------------------|---------|
| ==       | Equal to              | x == y  |
| !=       | Not equal to          | x != y  |
| >        | Greater than          | x > y   |
| <        | Less than             | x < y   |
| >=       | Greater than or equal | x >= y  |
| <=       | Less than or equal    | x <= y  |

In [186]:
salary_kelly = 60000
salary_luke = 40000

In [187]:
salary_kelly == salary_luke

False

In [188]:
1 == 1

True

In [189]:
if (salary_kelly > salary_luke):
    print("Kelly is paid more than Luke")

Kelly is paid more than Luke

# IF, ELIF, ELSE

## Overview

### Notes

`if`, `elif`, and `else` are conditional statements that control the flow of execution based on whether a condition is `True` or `False`.

| Part       | Purpose                           | Condition Evaluated             | Action if True                 |
|------------|-----------------------------------|---------------------------------|--------------------------------|
| `if`       | First condition check             | First condition to be evaluated | Executes block if condition is true |
| `elif`     | Subsequent condition check        | Next condition, if `if` is false| Executes block if this condition is true |
| `else`     | Fallback if no conditions are met | None | Executes block if all above conditions are false |

In [191]:
if True:
    print("E bbbbbravo")

E bbbbbravo

In [192]:
# Skill lavoratore
skill = 'SQL'

skill_lavoratore = 'SQL'

In [194]:
if skill == skill_lavoratore:
    print("It's a match booooy!")

It's a match booooy!

In [197]:
years_experience = 6
skill = 'SQL'
skill_lavoratore = 'Python'

if skill == skill_lavoratore:
    print("It's a match booooy!")
elif years_experience >= 5:
    print('Abbastanza esperienza; No SQL')

Abbastanza esperienza; No SQL

In [199]:
years_experience = 2
skill = 'SQL'
skill_lavoratore = 'Python'

if skill == skill_lavoratore:
    print("It's a match booooy!")
elif years_experience >= 5:
    print('Abbastanza esperienza; No SQL')
else:
    print("Nessuna esperienza, nessuna skill")

Nessuna esperienza, nessuna skill

In [205]:
years_experience = 3
skill = 'SQL'
skill_lavoratore = 'Python'

if skill == skill_lavoratore:
    print("It's a match booooy!")
elif years_experience >= 5:
    print('Abbastanza esperienza; No SQL')
elif skill_lavoratore == 'Python':
    print("Impara sql zi")

else:
    print("Nessuna esperienza, nessuna skill")

Impara sql zi

In [206]:
years_experience = 3
skill = 'SQL'
skill_lavoratore = 'Python'

if skill == skill_lavoratore:
    print("It's a match booooy!")
elif years_experience >= 5:
    print('Abbastanza esperienza; No SQL')
elif skill_lavoratore == 'Python':
    pass

else:
    print("Nessuna esperienza, nessuna skill")

In [207]:
# In Python, la parola chiave pass viene usata come segnaposto quando ti serve una struttura sintattica valida ma non vuoi ancora scrivere del codice al suo interno.

#📌 In breve:

#pass significa: "non fare nulla, ma il codice deve essere lì".